header h3{
    margin-left: 63px;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(88, 99, 227, 1);
}
header h1{
    margin-top: 17px;
    margin-left: 63px;
    width: 371px;
    height: 112px;
    font-size: 49px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    width: 750px;
    height: 350px;
    margin-top: 53px;
    margin-left: 63px;
    border: 2px;
    background: linear-gradient(0deg, #F8F8F8, #F8F8F8);
    border: 2px solid #ccc;
    resize: none;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 23px 23px;
    color:rgba(153, 153, 154, 1);
    
}
input{
    height: 59px;
    width: 470px;
    background: linear-gradient(0deg, #F8F8F8, #F8F8F8);
    border: 2px solid #ccc;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    padding: 23px 23px;
    color:rgba(153, 153, 154, 1);
    display: flex;
    flex-direction: column;


}

#send{
    height: 59px;
    width: 470px;
    background: rgba(89, 104, 244, 1);
    border: none;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: 23px 213px;
}
.about{
    display: inline-block;
    vertical-align: middle;
    margin-top: 67px;
    margin-left: 7px;
}
.description{
    display: inline-block;
    vertical-align: middle;

}
.circle{
    width: 67px;
    height: 67px;
    background-color: rgba(89, 104, 244, 1);
    border-radius: 50%;
    padding: 19px 13px;
    margin-left: 79px;
    display: flex;
    justify-content: center;
}
main h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:  rgba(78, 77, 84, 1);
    display: flex;
    justify-content: center;
    }
main h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: rgba(153, 153, 154, 1);
    display: flex;
    justify-content: center;
}
.Email{
    width: 227px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}
.Phone{
    width: 227px;
    display: flex;
    flex-direction:column ;
    margin-left: 35px;
}
.Location{
    width: 227px;
    display: flex;
    flex-direction:column ;
    margin-left: 35px;
}
.contacts{
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 37px;
}
main p{
    margin-top: 17px;
    margin-left: 63px;
    width: 548px;
    height: 112px;
    font-size: 49px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
main h3{
    margin-left: 63px;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(88, 99, 227, 1);
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer{
    background-color:rgba(0, 0, 0, 1);
    width: 1440px;
    height: 372px;
   margin-top: 37px;
   
}
footer h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 400;
    color: #F8F8F8;

}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #F8F8F8;
}
footer h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: rgba(153, 153, 154, 1);
}
footer a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: rgba(88, 99, 227, 1);
}
footer h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
}
.end1{
    display: flex;
    flex-direction: column;
    height: 370px;
   width: 300px;
   display: inline-block;
   margin-left: 123px;
   vertical-align: middle;
   margin-top: 73px;
}
.end2{
    display: flex;
    flex-direction: column;
    height: 370px;
    width: 300px;
   display: inline-block;
   vertical-align: middle;
   margin-top: 73px;
}
.end3{
    display: flex;
    flex-direction: column;
    height: 370px;
    width :223px;
    display: inline-block;
    margin-top:30px;
    vertical-align: middle;
    margin-top: 73px;
}
footer img{
    width: 27px;
    height: 27px;
}
.end4{
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.footer{
    display: flex;
    flex-direction: column;
    height: 370px;
    width: 300px;
    display: inline-block;
    margin-left: 37px;
    vertical-align: middle;
    margin-top: 73px;
}
.end1 a{
display: block;
}
.end2 a{
    display: block;
    }
.one{
display: flex;

}
.two{
    display: flex;
}
.three{
    display: flex;
}


